<!DOCTYPE html>
<html>
<head>
	<title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class="main-content">
		{{>header}}
		<p>This is a simple weather application which shows the live weather updates across the world. It uses data from third party APIs like mapbox.com and weatherstack.com.</p>
		<img class="portrait" src="/img/nature.jpg">
	</div>
	{{>footer}}
</body>
</html>

